airflow/logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T065228.777220+0000/task_id=daily_data/attempt=1.log
airflow/logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T065228.777220+0000/task_id=hourly_data/attempt=1.log
airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/scheduler/latest
airflow/logs/scheduler/2023-06-15/first_dag.py.log
airflow/logs/scheduler/2023-06-15/main.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_bash_operator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_datetime_operator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_day_of_week_operator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_labels.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_operator_decorator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_operator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_python_dop_operator_3.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_complex.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_dag_decorator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_datasets.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_dynamic_task_mapping.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_external_task_marker_dag.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_kubernetes_executor.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_latest_only_with_trigger.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_latest_only.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_local_kubernetes_executor.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_nested_branch_dag.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_params_trigger_ui.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_params_ui_tutorial.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_passing_params_via_test_command.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_python_operator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_sensor_decorator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_sensors.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_setup_teardown_taskflow.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_setup_teardown.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_short_circuit_decorator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_short_circuit_operator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_skip_dag.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_sla_dag.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_subdag_operator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_task_group_decorator.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_task_group.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_time_delta_sensor_async.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_trigger_controller_dag.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_trigger_target_dag.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_xcom.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/example_xcomargs.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/tutorial_dag.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/tutorial_taskflow_api_virtualenv.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/tutorial_taskflow_api.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/tutorial.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/plugins/event_listener.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/plugins/listener_plugin.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/plugins/workday.py.log
airflow/logs/scheduler/2023-06-15/native_dags/example_dags/subdags/subdag.py.log
airflow/dags/__pycache__/main.cpython-37.pyc
dags/raw_data/daily_data/AAPL.csv
dags/raw_data/daily_data/AMZN.csv
dags/raw_data/daily_data/GOOG.csv
dags/raw_data/daily_data/META.csv
dags/raw_data/daily_data/MSFT.csv
dags/raw_data/hourly_data/AAPL.csv
dags/raw_data/hourly_data/AMZN.csv
dags/raw_data/hourly_data/GOOG.csv
dags/raw_data/hourly_data/META.csv
dags/raw_data/hourly_data/MSFT.csv
dags/transform_data/daily_data/AAPL.csv
dags/transform_data/daily_data/AMZN.csv
dags/transform_data/daily_data/GOOG.csv
dags/transform_data/daily_data/META.csv
dags/transform_data/daily_data/MSFT.csv
dags/transform_data/hourly_data/AAPL.csv
dags/transform_data/hourly_data/AMZN.csv
dags/transform_data/hourly_data/GOOG.csv
dags/transform_data/hourly_data/META.csv
dags/transform_data/hourly_data/MSFT.csv
logs/dag_id=stocks_dag/run_id=manual__2023-06-15T075438.617002+0000/task_id=daily_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=manual__2023-06-15T075438.617002+0000/task_id=hourly_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=manual__2023-06-15T100149.918930+0000/task_id=daily_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=manual__2023-06-15T100149.918930+0000/task_id=hourly_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=manual__2023-06-16T012621.795527+0000/task_id=daily_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=manual__2023-06-16T012621.795527+0000/task_id=hourly_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T065228.777220+0000/task_id=daily_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T065228.777220+0000/task_id=hourly_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T075622.036474+0000/task_id=daily_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T075622.036474+0000/task_id=hourly_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T075757.787998+0000/task_id=daily_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T075757.787998+0000/task_id=hourly_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T085433.359099+0000/task_id=daily_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T085433.359099+0000/task_id=hourly_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T091031.540381+0000/task_id=daily_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T091031.540381+0000/task_id=hourly_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T095644.972145+0000/task_id=daily_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-15T095644.972145+0000/task_id=hourly_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-16T012055.261267+0000/task_id=daily_data/attempt=1.log
logs/dag_id=stocks_dag/run_id=scheduled__2023-06-16T012055.261267+0000/task_id=hourly_data/attempt=1.log
logs/dag_processor_manager/dag_processor_manager.log
logs/scheduler/latest
logs/scheduler/2023-06-15/first_dag.py.log
logs/scheduler/2023-06-15/main.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_bash_operator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_datetime_operator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_day_of_week_operator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_labels.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_operator_decorator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_operator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_branch_python_dop_operator_3.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_complex.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_dag_decorator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_datasets.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_dynamic_task_mapping.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_external_task_marker_dag.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_kubernetes_executor.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_latest_only_with_trigger.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_latest_only.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_local_kubernetes_executor.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_nested_branch_dag.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_params_trigger_ui.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_params_ui_tutorial.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_passing_params_via_test_command.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_python_operator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_sensor_decorator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_sensors.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_setup_teardown_taskflow.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_setup_teardown.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_short_circuit_decorator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_short_circuit_operator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_skip_dag.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_sla_dag.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_subdag_operator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_task_group_decorator.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_task_group.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_time_delta_sensor_async.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_trigger_controller_dag.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_trigger_target_dag.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_xcom.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/example_xcomargs.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/tutorial_dag.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/tutorial_taskflow_api_virtualenv.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/tutorial_taskflow_api.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/tutorial.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/plugins/event_listener.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/plugins/listener_plugin.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/plugins/workday.py.log
logs/scheduler/2023-06-15/native_dags/example_dags/subdags/subdag.py.log
logs/scheduler/2023-06-16/main.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_bash_operator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_branch_datetime_operator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_branch_day_of_week_operator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_branch_labels.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_branch_operator_decorator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_branch_operator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_branch_python_dop_operator_3.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_complex.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_dag_decorator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_datasets.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_dynamic_task_mapping.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_external_task_marker_dag.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_kubernetes_executor.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_latest_only_with_trigger.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_latest_only.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_local_kubernetes_executor.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_nested_branch_dag.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_params_trigger_ui.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_params_ui_tutorial.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_passing_params_via_test_command.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_python_operator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_sensor_decorator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_sensors.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_setup_teardown_taskflow.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_setup_teardown.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_short_circuit_decorator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_short_circuit_operator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_skip_dag.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_sla_dag.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_subdag_operator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_task_group_decorator.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_task_group.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_time_delta_sensor_async.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_trigger_controller_dag.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_trigger_target_dag.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_xcom.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/example_xcomargs.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/tutorial_dag.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/tutorial_taskflow_api_virtualenv.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/tutorial_taskflow_api.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/tutorial.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/plugins/event_listener.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/plugins/listener_plugin.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/plugins/workday.py.log
logs/scheduler/2023-06-16/native_dags/example_dags/subdags/subdag.py.log
